{% extends 'meal_deal/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
		<div>
		<h1>About</h1>
		Welcome to internet's Meal Dealing Hub! Here you can share your combination of snacks or roast every tuna
		and sweetcorn sandwhich that anyone makes the mistake of purchasing and sharing.
		<br>
		<br>
		This site was established in 2019 at the University of Glasgow (we are confident that this is possibly the greatest thing 
		to come out of the uni!)
		<hr>
		<h2>Rules:</h2>
		<ul>
			<li>Uploaded photos must be of meal deals.</li>
			<li>No adult content is allowed</li>
			<li>All meal deals must be payed for !!</li>
			<li>Respect other users</li>
		</ul>
		<br>
		</div> 
{% endblock %}