{% extends 'meal_deal/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ category.name }}
{% endblock %}

{% block body_block %} 
	{% if category %} 
		<h1>{{ category.name }}</h1> 
		
		<div class="col-lg-6" style="background-color: #f2f2f2">
		<br>
		{% if meal_deals %} 
			{% for meal_deal in meal_deals %} 
				<a href="/meal_deal/deals/{{ meal_deal.slug }}" style="background-color: white; color: black">{{ meal_deal.title }}</a></br>
			{% endfor %} 
		{% else %} 
			<strong>No meal deals currently in category :(</strong> 
		{% endif %}
		<br>
		</div>
	{% else %} 
		The specified category does not exist! 
	{% endif %} 
{% endblock %}