{% extends 'meal_deal/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ meal_deal.title }}
{% endblock %}

{% block body_block %}  
	{% if meal_deal %} 
		<h1>{{ meal_deal.title }}</h1>
		<h2>{{meal_deal.description}}</h2>
		<p><img src="{{MEDIA_URL}}{{meal_deal.pic}}" alt="Meal Deal"></p>
		
		
		<div>
		<strong id="like_count">{{ meal_deal.likes }} </strong> people like this meal deal.
		<br><strong id="dislike_count">{{ meal_deal.dislikes }} </strong> people dislike this meal deal.</br>
		
		{% if user.is_authenticated %} 
		
		<div id="dialog">
			 <center>&nbsp; &nbsp; &nbsp; &nbsp; <b><u>Rate this Meal Deal</b></u> &nbsp; &nbsp; &nbsp; &nbsp; <button class="closeBtn">X</button></center>

			
				<form method="post" onSubmit="window.location.reload();">
					{% csrf_token %}
					{{comment_form.as_p}}
					<input type="submit" value="Submit" class="btn btn-mini btn-primary" style="width:70px;padding-top:10px;padding-bottom:10px; background-color: #3fe812 ; font-weight: bold;">
				</form>
			
		</div>
		
		<p><button id="opener">Leave a comment</button></p>
		
		<p>
		<button id ="likes" data-deaid="{{meal_deal.id}}" class="btn btn-mini btn-primary" type="button"> Like </button>
		<button id ="dislikes" data-deaid="{{meal_deal.id}}" class="btn btn-mini btn-primary" type="button"> Disike </button>
		</p>
		{% endif %}
		</div>
		
		
		
		
	{% else %} 
		The specified meal deal does not exist! 
	{% endif %}
	
	<br><br>

	<div class="main-comment-section">
	{{comments.count}} Comment{{comments|pluralize}}
	{% for comment in comments %}
	<blockquote class="blockquote">
		<p class="mb-0">{{comment.content}}</p>
		<p><footer class="blockquote-footer">by <cite title="Source Title">{{comment.user|capfirst}}</cite></footer><p>
	</blockquote>
	{% endfor %}
	</div>
		
{% endblock %}