{% extends 'meal_deal/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}
	
{% block body_block %}

		<div>
		<br>
		<div class="logo">
		<h1>Rate My Meal Deal</h1>
		Welcome to the best<br>
		place to get roasted!
		</div>
		
		<div class="column-l">
		<h2>Most Liked Categories</h2>
		<hr>
		{% if categories %} 
		<ul> 
			{% for category in categories %}
				<li><a href="/meal_deal/category/{{ category.slug }}">{{ category.name }}</a></li> <p>
			{% endfor %} 
		</ul> 
		{% else %} 
			<strong>There are no categories present.</strong> 
		{% endif %} 
		</div>
		
		<div class="column-r">
		<h2>Blessed Meal Deals</h2>
		<hr>
		{% if meal_deals %} 
		<ul> 
			{% for meal_deal in meal_deals %}
				<li><a href="/meal_deal/deals/{{ meal_deal.slug }}">{{ meal_deal.title }}</a></li> <p>
			{% endfor %} 
		</ul> 
		{% else %} 
			<strong>There are no meal deals present.</strong> 
		{% endif %} 
		</div>
		
		<div class="clear-float">
			<a href="/meal_deal/add_category/">Add a New Category</a><br />
			<a href="/meal_deal/add_deal/">Add a New Meal Deal</a><br />
			<a href="/meal_deal/about/">About</a><br />
			<img src="{% static "images/meal_deal.jpg" %}" 
			alt="Picture of a meal deal" /> <!-- New line -->
		</div> 
		</div>
		
		<!-- JQuery stuff below -->
		
		<div id="welcome">
			<b><center><font size="7">Welcome to RateMyMealDeal!!</font></b>
			<p> The best place to discuss your favourite main, drink and snack combos with fellow meal deal enthusiasts! </p>
			<p><button class="continueBtn">Continue</button> </p></center>
		</div>
		
		
		
		
		
{% endblock %}