{% extends 'meal_deal/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}
	
{% block body_block %}
		<h1>Rate My Meal Deal</h1>
		<div>Welcome!</div> 
		<div>
		<h2>Most Liked Categories</h2>
		{% if categories %} 
		<ul> 
			{% for category in categories %}
				<li>
				<a href="/meal_deal/category/{{ category.slug }}">{{ category.name }}</a>
				</li> 
			{% endfor %} 
		</ul> 
		{% else %} 
			<strong>There are no categories present.</strong> 
		{% endif %} 
		</div>
		
		
		<div>
			<a href="/meal_deal/add_category/">Add a New Category</a><br />
			<a href="/meal_deal/about/">About</a><br />
			<img src="{% static "images/meal_deal.jpg" %}" 
			alt="Picture of a meal deal" /> <!-- New line -->
		</div> 
{% endblock %}