{% extends 'meal_deal/base.html' %}

{% load staticfiles %}

{% block title %}User Profiles{% endblock %}

{% block body_block %}
<h1>User Profiles</h1>

	<div>
	{% if userprofile_list %}
		<!-- Display search results in an ordered list -->
				{% for listuser in userprofile_list %}
					<div class="profiles">
						<h4>
							<a href="{% url 'profile' listuser.user.username %}">
								{{ listuser.user.username }}</a>
						</h4>
					</div>
				{% endfor %}
	{% else %}
		<p>There are no users for the site.</p>
	{% endif %}
</div>
<br>
{% endblock %}