body {
	background-color: #e5e5e5;
}

div {
	border-radius: 25px;
	font-family: 'Segoe UI Light';
	background-color: #f2f2f2;
	padding-left: 5px;
	padding-right: 5px;
}

.container {
	margin-top:5%;
	margin-left: 10%;
	margin-right: 10%;
}

.category {
	height: 600px;
}

.categories {
	padding-bottom: 5px;
	text-align: center;
}

.categories a {
	background-color: white;
	color: black;
	display: inline-block;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 18px;
}

.categories a:hover {
	background-color: #e17223;
	border-radius: 25px;
	color: black;
}

.profiles {
	padding-bottom: 5px;
	text-align: center;
}

.profiles a {
	background-color: white;
	color: black;
	display: block;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 18px;
	border-radius: 25px;
}

.profiles a:hover {
	background-color: #e17223;
	border-radius: 25px;
	color: black;
}

.logo {
	background-color: #e17223;
	text-align: center;
	padding-bottom:5px;
}

.clear-float{
	clear: left;
}
	
.col-lg-6 {
	background-color: white;
	border-radius: 0px;
}
.col-lg-6 a {
	background-color: #e5e5e5;
	display: block;
	color: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 18px;
	border-radius: 25px;
}

.col-lg-6 a:hover {
	background-color: #e17223;
	border-radius: 25px;
	color: black;
}

.ui-widget-content.ui-dialog
{
   border: 10px solid #DDD;
}


/* Add a white-grey background color to the top navigation */
.tab {
	border-radius: 0px;
    background-color: #f2f2f2;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.tab a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
	color: black;
}

/* Change the color of links on hover */
.tab a:hover {
    background-color: #ddd;
    color: #e17223;
}

/* Add a color to the active/current link */
.tab a.active {
    background-color: #e17223;
    color: black;
}